@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-dark-blue);
    overflow-x: hidden;
}

:root {

    /* (main background) */
    --Very-dark-blue: hsl(233, 47%, 7%);

    /* (card background) */
    --Dark-desaturated-blue: hsl(244, 38%, 16%);

    /* (accent) */
    --Soft-violet: hsl(277, 64%, 61%);

    /* (main heading, stats) */
    --White: hsl(0, 0%, 100%);

    /* (main paragraph) */
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);

    /* (stat headings) */
    --Slightly-transparent-white-dark: hsla(0, 0%, 100%, 0.6);
}

main {
    width: 300px;
    background-color: var(--Dark-desaturated-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.image_container {
    width: 300px;
    height: 200px;
    background-image: url(./images/image-header-mobile.jpg);
    background-size: cover;
    filter: contrast(150%) brightness(120%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    width: 100%;
    height: 100%;
    background-color: #7A449A;
    opacity: .7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.title {
    color: var(--White);
    font-family: "Inter";
    width: 240px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
}

.violet_color {
    color: var(--Soft-violet);
}

.information {
    width: 230px;
    color: var(--Slightly-transparent-white);
    font-family: "Inter";
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
}

.business_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.business_box {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business_number {
    color: var(--White);
    font-family: "Inter";
    font-weight: 700;
    font-size: 25px;
}

.business_subtitle {
    color: var(--Slightly-transparent-white-dark);
    font-family: "Lexend Deca";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 5px;
}



.attribution {
    font-size: 11px;
    text-align: center;
    font-family: "Lexend Deca";
    color: var(--White);
    position: fixed;
    bottom: 10px;
    left: 25%;
    right: 25%;
}

.attribution a {
    color: var(--Soft-violet);
    font-weight: 700;
}

@media screen and (min-width:426px) {
    main {
        flex-direction: row-reverse;
        width: 850px;
    }

    .image_container {
        background-image: url(./images/image-header-desktop.jpg);
        width: 560px;
        height: 330px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;

    }

    .title {
        margin-top: 0;
        width: 300px;
        margin-bottom: 0;
        text-align: left;

    }

    .information{
        margin-top: 0;
        text-align: left;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        width: 300px;
        margin-top: 20px;
    }

    .picture {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        
        
    }

    .text_container {
        align-items: baseline;
        padding-right: 60px ;
        padding-left: 60px ;
        padding-top: 20px;
    }

    .business_container {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .business_box{
        width: 100px;
        padding-top: 20px;
        align-items: baseline;
    }

    .business_number{
        font-size: 17px;
    }
}